@import url("//yui.yahooapis.com/pure/0.5.0/pure-min.css")
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

color-background-main = #F2F8FF  //C2DFFF
color-border = #CCC
color-font-main = color-border //#BAC4CF
color-fireRed = #940116
color-background-highlight = #B9E7FF
menu-width = 0px
max-content-width = 800px
color-font-body = #555

body 
   color color-font-body
   background-color color-background-main
   
body
html
   scrollbar-arrow-color #940116
   scrollbar-track-color #C3DFFF
   scrollbar-face-color #940116
   scrollbar-highlight-color #940116
   scrollbar-3dlight-color #940116
   scrollbar-shadow-color #940116
   scrollbar-darkshadow-color #940116

p.center
   text-align center

.fireRed
   color color-fireRed

img
   max-width 100%
   text-align center
   
//Add transition to containers so they can push in and out.

//This is the parent `<div>` that contains the menu and the content area.
#layout 
   //padding-left menu-width /* left col width "#menu" */
   //left 0
 
.post-tag
  margin 0 0.1em
  padding 0.3em 1em
  color #fff
  background color-fireRed
  font-size 80%

//The content `<div>` is where all your content goes.
.content 
   margin 0 auto
   padding 0 2em
   max-width max-content-width
   line-height 1.6em
   
.content a:link
.content a:visited
.content a:hover
.content a:active
   color color-font-body
   
.header, h1, h2 
    margin 0
    color #333
    text-align center
    // padding 2.5em 2em 0

h1 
   // margin 0.2em 0
   // font-size 3em
   font-weight 300
   
h2 
   font-weight 300
   color color-border
   padding 0
   margin-top 0
   max-width max-content-width
   margin-left auto
   margin-right auto
   padding-top 6px
   overflow hidden
   margin 0 0 2em 0

.menu
   text-align center

.footer
   font-size 60%
   text-align center
   padding 1em 0
   color #CCC

.footer-menu
   margin-top 50px

.pure-menu.pure-menu-open
   background color-background-main
   border 0px

.menu a:hover
   color color-fireRed
   background-color color-border

#footer-menu a
   border-radius 15px
   
#main
   left menu-width
   width 600px
   display block
   margin-left auto
   margin-right auto
   
#forSwitch
   color color-fireRed
   font-size 1em
   float left
   visibility hidden

// Pandoc Highlighting
// https://benjeffrey.com/pandoc-syntax-highlighting-css      
// pre
//    background-color #FDF6E3

//KeyWordTok
.sourceCode
  .kw
    color #268BD2
//DataTypeTok
.sourceCode
  .dt
    color #268BD2
//CharTok
.sourceCode
  .ch
    color #DC322F
//StringTok
.sourceCode
  .st
    color #2AA198
//CommentTok
.sourceCode
  .co
    color #93A1A1
//OtherTok
.sourceCode
  .ot
    color #A57800
//AlertTok
.sourceCode
  .al
    color #CB4B16
    font-weight bold
//FunctionTok
.sourceCode
  .fu
    color #268BD2
//RegionMarkerTok
//.sourceCode
//  .re
//ErorTok
.sourceCode
  .er
    color #D30102
    font-weight bold

// DecValTok (decimal value), BaseNTok, FloatTok
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl
  color #D33682

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

.animated
  -webkit-animation-duration 1.5s
  animation-duration 1.5s
  -webkit-animation-fill-mode both
  animation-fill-mode both

@-webkit-keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1

@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1

.fadeIn
  -webkit-animation-name fadeIn
  animation-name fadeIn
